* {
    margin: 0;
    padding: 0;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

html,
body {
    height: 100%;
}

body {
    min-width: 1480px;
}

container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;

    padding-top: 155px;
    padding-bottom: 100px;
}

.div-page1-wrap,
.div-page2-wrap,
.div-page3-wrap,
.div-page4-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 150px;
}

.div-page1-wrap {
    background-color: #19dc82;
}

.div-page2-wrap {
    background-color: #4ce49e;
}

.div-page3-wrap {
    background-color: #7fecba;
}

.div-page4-wrap {
    background-color: #b2f3d5;
}

.div-page-banner {
    width: 1200px;
    height: 30%;
    margin: 0;
    padding: 20px 0px 0px 0px;
}

.page-banner-text {
    font-size: 23px;
    width: 100%;
    height: 70%;
    margin: 0;
    padding: 0;
}

.menu-name-firstline {
    margin: 0;
}

.menu-name {
    font-size: 40px;
    font-weight: bolder;
    margin: 0;
}

/* section ul,
section li {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    padding: 0;
} */

.product-text {
    text-align: left;
    margin: 20px 0 16px;
    font-size: 16px;
}

.product-wrap1 a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-weight: bolder;
    margin: 0;
    padding: 0;
}

.product-wrap3 p {
    margin: 20px auto 5px;
}

#price-red-text {
    color: #ff5f5f;
    font-size: 16px;
    margin-right: 10px;
    font-weight: 900;
    line-height: 22px;
}

#price-off {
    margin-right: 10px;
    font-size: 16px;
    color: #a7a7a7;
    font-weight: 600;
    line-height: 22px;
    text-decoration: line-through;
}

#price {
    width: 100px;
    font-size: 22px;
    font-weight: 900;
    line-height: 22px;
    margin-top: 15px;
}

.bestnumber {
    color: #00D975;
    font-size: 30px;
    font-weight: 900;
}

.fixed-box {
    position: fixed;
    top: 60%;
    left: 0px;
    margin-top: -206px;
    z-index: 4500;
    display: flex;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    background-color: white;
    border: 2px solid #96a0ad;
    height: 310px;
    font-size: 25px;
    font-weight: bold;
}

.fixed-box ul,
.fixed-box li {
    list-style: none;
    margin: 0;
    padding: 20px 0px;
    text-align: center;
}

.fixed-box hr {
    margin: 0px;
}

.fixed-box a {
    text-decoration: none;
    color: #96a0ad;
}

.fixed-box li:hover,
.fixed-box a:hover {
    background-color: #00D975;
    color: white;
}

.fixed-box li:hover:first-of-type {
    border-top-right-radius: 25px;
}

.fixed-box li:hover:last-of-type {
    border-bottom-right-radius: 25px;
}

.product-wrap1 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.product-wrap2 {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    margin: 10px 0px 20px 0px;
}

.product-wrap3 {
    display: inline-block;
    text-align: center;
    margin: 20px 0px 10px 0px;
}